page-home {

    $colors: (
        primary:    #488aff,
        secondary:  #32db64,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        my-special-color:   #ffcc55,
      );
      .btn{
          width: 30%;
          height: 15%; 
      }

}
